# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Node
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Gemini Specific
.git_backup/

# Project Specific Ignored Files
backend/credentials.json
backend/.env
frontend/client/.env
sql_app.db
temp_credentials.json
permiso de pesca para jubilados mayores de 65 años y niños menores de 12 años - permiso-de-pesca-jubilados-65-2025-12-26.csv